<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

#### Explore DB

In [3]:
%%sql

SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2              date
3           product
4             sales
5             store

In [17]:
%%sql

SELECT *
FROM product
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
5,6,101006,Contoso 2G MP3 Player E200 Black,"Contoso, Ltd",Contoso,Black,ounces,8.80,11.00,21.57,1,Audio,101,MP4&MP3
6,7,101007,Contoso 2G MP3 Player E200 Blue,"Contoso, Ltd",Contoso,Blue,ounces,2.10,11.00,21.57,1,Audio,101,MP4&MP3
7,8,101008,Contoso 4G MP3 Player E400 Silver,"Contoso, Ltd",Contoso,Silver,ounces,5.60,30.58,59.99,1,Audio,101,MP4&MP3
8,9,101009,Contoso 4G MP3 Player E400 Black,"Contoso, Ltd",Contoso,Black,ounces,2.10,30.58,59.99,1,Audio,101,MP4&MP3
9,10,101010,Contoso 4G MP3 Player E400 Green,"Contoso, Ltd",Contoso,Green,ounces,11.00,30.58,59.99,1,Audio,101,MP4&MP3

In [19]:
%%sql

SELECT *
FROM information_schema.columns
WHERE table_name = 'sales'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13 rows affected.

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,contoso_100k,public,sales,exchangerate,13,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,contoso_100k,public,sales,linenumber,2,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,contoso_100k,public,sales,orderdate,3,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,contoso_100k,public,sales,deliverydate,4,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,contoso_100k,public,sales,customerkey,5,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,contoso_100k,public,sales,storekey,6,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,contoso_100k,public,sales,productkey,7,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,contoso_100k,public,sales,quantity,8,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,contoso_100k,public,sales,unitprice,9,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,contoso_100k,public,sales,netprice,10,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,contoso_100k,public,sales,unitcost,11,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,contoso_100k,public,sales,orderkey,1,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,contoso_100k,public,sales,currencycode,12,None,YES,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES

#### Calculate Net Revenue

In [6]:
%%sql

SELECT
  orderdate,
  quantity * netprice / exchangerate as net_revenue
FROM sales
WHERE orderdate::date >= '2020-01-01'
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  net_revenue
0  2020-01-01       125.53
1  2020-01-01       176.65
2  2020-01-01       844.80
3  2020-01-01      5162.50
4  2020-01-01       140.44
5  2020-01-01      1507.16
6  2020-01-01       189.35
7  2020-01-01       539.90
8  2020-01-01      5590.00
9  2020-01-01      3580.00

#### Add Customer & Product Info

In [7]:
%%sql

SELECT
  s.orderdate,
  s.quantity * s.netprice / s.exchangerate as net_revenue,
  c.givenname,
  c.surname,
  c.countryfull,
  c.continent,
  p.productkey,
  p.productname,
  p.categoryname,
  p.subcategoryname,
  CASE WHEN s.quantity * s.netprice / s.exchangerate >= 1000 THEN 'HIGH' ELSE 'LOW' END AS high_low
FROM
  sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
LEFT JOIN product p ON s.productkey = p.productkey
WHERE orderdate::date >= '2020-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

,orderdate,net_revenue,givenname,surname,countryfull,continent,productkey,productname,categoryname,subcategoryname,high_low
0,2020-01-01,738.00,Sheron,Gilbert,United States,North America,425,Adventure Works Desktop PC1.80 ED180 Black,Computers,Desktops,LOW
1,2020-01-01,70.70,Swen,Saenger,Germany,Europe,1584,SV DVD 38 DVD Storage Binder E25 Black,"Music, Movies and Audio Books",Movie DVD,LOW
2,2020-01-01,242.45,Swen,Saenger,Germany,Europe,1925,Fabrikam Refrigerator 3.2CuFt E1600 Blue,Home Appliances,Refrigerators,LOW
3,2020-01-02,3013.60,Nora,Greece,Italy,Europe,162,"Adventure Works 52"" LCD HDTV X790W Black",TV and Video,Televisions,HIGH
4,2020-01-02,343.53,Nora,Greece,Italy,Europe,458,WWI Desktop PC1.80 E1800 White,Computers,Desktops,LOW
...,...,...,...,...,...,...,...,...,...,...,...
124446,2023-07-25,1030.28,Jordan,Bowden,United States,North America,407,Proseware Laptop16 M610 Black,Computers,Laptops,HIGH
124447,2023-07-25,510.72,Jordan,Bowden,United States,North America,1530,The Phone Company PDA Handheld 3.7 inch M630 B...,Cell phones,Smart phones & PDAs,LOW
124448,2023-07-25,699.00,Jordan,Bowden,United States,North America,381,Adventure Works Laptop15 M1501 Red,Computers,Laptops,LOW
124449,2023-07-25,41.67,Brandon,Arnold,United States,North America,1588,SV DVD 58 DVD Storage Binder M55 Silver,"Music, Movies and Audio Books",Movie DVD,LOW
124450,2023-07-25,1299.00,Brandon,Arnold,United States,North America,404,Proseware Laptop19 X910 Black,Computers,Laptops,HIGH

#### Basic Aggregation & Pivot

In [8]:
%%sql

SELECT
  orderdate,
  COUNT(DISTINCT(customerkey)) AS total_customers
FROM
  sales
WHERE
  orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
  orderdate
ORDER BY orderdate::DATE

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers
0    2023-01-01               12
1    2023-01-02               49
2    2023-01-03               64
3    2023-01-04               78
4    2023-01-05               87
..          ...              ...
359  2023-12-27               73
360  2023-12-28               75
361  2023-12-29               55
362  2023-12-30               91
363  2023-12-31                9

[364 rows x 2 columns]

In [9]:
%%sql
SELECT DISTINCT
  continent
FROM
  customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0      Australia
1  North America
2         Europe

In [11]:
%%sql

SELECT
  s.orderdate,
  COUNT(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS au_customers
FROM
  sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
WHERE
  s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
  s.orderdate
ORDER BY
  s.orderdate::DATE

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  eu_customers  na_customers  au_customers
0    2023-01-01             6             5             1
1    2023-01-02            15            31             3
2    2023-01-03            17            44             3
3    2023-01-04            28            46             4
4    2023-01-05            22            57             8
..          ...           ...           ...           ...
359  2023-12-27            26            41             6
360  2023-12-28            24            44             7
361  2023-12-29            19            32             4
362  2023-12-30            25            50            16
363  2023-12-31             1             8             0

[364 rows x 4 columns]

In [27]:
%%sql

SELECT
  p.categoryname,
  SUM(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice / s.exchangerate END) AS "total_net_revenue_2022",
  SUM(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice / s.exchangerate END) AS "total_net_revenue_2023"
FROM
  sales s
LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,total_net_revenue_2022,total_net_revenue_2023
0,Audio,727282.74,646587.81
1,Cameras and camcorders,2273304.82,1886762.09
2,Cell phones,7745467.41,5692545.27
3,Computers,17256870.60,11091373.64
4,Games and Toys,300368.19,259932.64
5,Home Appliances,6212316.10,5678689.08
6,"Music, Movies and Audio Books",2847825.84,2062550.24
7,TV and Video,5551828.40,4169444.46

#### Statistical analysis

In [28]:
%%sql

SELECT
  p.categoryname,
  AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice / s.exchangerate END) AS "average_order_net_revenue_2022",
  AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice / s.exchangerate END) AS "average_order_net_revenue_2023"
FROM
  sales s
LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,average_order_net_revenue_2022,average_order_net_revenue_2023
0,Audio,372.01,399.37
1,Cameras and camcorders,1154.55,1151.87
2,Cell phones,688.91,591.13
3,Computers,1512.57,1230.32
4,Games and Toys,77.24,77.71
5,Home Appliances,1649.14,1809.65
6,"Music, Movies and Audio Books",368.32,316.44
7,TV and Video,1466.02,1595.04

In [36]:
%%sql

SELECT
  p.categoryname AS category,
  PERCENTILE_CONT(0.50) WITHIN GROUP(ORDER BY (CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice / s.exchangerate END)) AS y2022_median_sales,
  PERCENTILE_CONT(0.50) WITHIN GROUP(ORDER BY (CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice / s.exchangerate END)) AS y2023_median_sales
FROM
  sales s
LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_median_sales  y2023_median_sales
0                          Audio              246.21              260.63
1        Cameras and camcorders               652.79              639.18
2                    Cell phones              404.60              350.10
3                      Computers              769.36              617.89
4                 Games and Toys               32.00               31.98
5                Home Appliances              772.20              798.52
6  Music, Movies and Audio Books              173.97              152.74
7                   TV and Video              697.22              738.00

#### Advanced Segmentation

##### Categorize

In [45]:
%%sql

SELECT
  orderdate,
  quantity,
  netprice,
  CASE WHEN quantity >=2 AND netprice >= 100 THEN 'Multiple High Value Items'
       WHEN quantity >=2 THEN 'Multiple Standard Items'
       WHEN netprice >= 100 THEN 'Single High Value Item'
       ELSE 'Single Standard Item'
  END AS order_type
FROM sales
LIMIT 20

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

20 rows affected.

     orderdate  quantity  netprice                 order_type
0   2015-01-01         1     98.97       Single Standard Item
1   2015-01-01         1    659.78     Single High Value Item
2   2015-01-01         2     54.38    Multiple Standard Items
3   2015-01-01         4    286.69  Multiple High Value Items
4   2015-01-01         7    135.75  Multiple High Value Items
5   2015-01-01         3    434.30  Multiple High Value Items
6   2015-01-01         1     58.73       Single Standard Item
7   2015-01-01         3     74.99    Multiple Standard Items
8   2015-01-01         2    113.57  Multiple High Value Items
9   2015-01-01         1    499.45     Single High Value Item
10  2015-01-01         1      8.33       Single Standard Item
11  2015-01-01         1   2067.75     Single High Value Item
12  2015-01-01        10    152.00  Multiple High Value Items
13  2015-01-01         2      4.82    Multiple Standard Items
14  2015-01-01         1     63.29       Single Standard Item
15  2015-01-01         5    310.46  Multiple High Value Items
16  2015-01-01         1    222.00     Single High Value Item
17  2015-01-01         4      4.45    Multiple Standard Items
18  2015-01-01         1     50.04       Single Standard Item
19  2015-01-01         1    222.00     Single High Value Item

In [55]:
%%sql

WITH median_value AS (
  SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY s.quantity * s.netprice / s.exchangerate)
  FROM
    sales s
  WHERE
    s.orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) < mv AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2022_low_value_orders_net_revenue,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) >= mv AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2022_high_value_orders_net_revenue,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) < mv AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2023_low_value_orders_net_revenue,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) >= mv AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2023_high_value_orders_net_revenue
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
  median_value mv
GROUP BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: (The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.UndefinedColumn) column "median_value" does not exist
LINE 12: ...HEN ((s.quantity * s.netprice / s.exchangerate) < median_val...
                                                              ^

[SQL: WITH median_value AS (
  SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY s.quantity * s.netprice / s.exchangerate)
  FROM
    sales s
  WHERE
    s.orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) < median_value AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2022_low_value_orders_net_revenue,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) >= median_value AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2022_high_value_orders_net_revenue,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) < median_value AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2023_low_value_orders_net_revenue,
  SUM(CASE WHEN ((s.quantity * s.netprice / s.exchangerate) >= median_value AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31') THEN s.quantity * s.netprice / s.exchangerate END) AS y2023_high_value_orders_net_revenue
FROM
  sales s
LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
  p.categoryname]
(Background on this error at: https://sqlalche.me/e/20/f405)